.Landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  .container {
    background-color: green;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    img {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
    }
    .logo {
      justify-self: center;
      grid-row: 1 / 4;
      grid-column: 2 / 6;
      height: 100%;
    }
    .buttons {
      display: grid;
      padding: 0px 10px 10px 10px;
      grid-gap: 2px;
      grid-row: 4 / 7;
      grid-column: 3 / 5;
    }
  }
}
/*

@media (min-width: $tablet-breakpoint) {
  .Landing {
    .container {
      .buttons {
        grid-template-columns: 1fr 1fr;
        * {
          color: red;
        }
      }
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .Landing {
    .container {
      .buttons {
        grid-template-columns: 1fr 1fr 1fr;
        * {
          color: yellow;
        }
      }
    }
  }
}
*/
