@import './base/reset';
@import './base/settings';
@import './base/base';
@import './base/mixins';
@import './base/globals';
@import '../App.scss';

// components
@import '../components/Header/Header';
@import '../components/PageTitle/PageTitle';
@import '../components/PokeCard/PokeCard';
@import '../components/PlayableArea/PlayableArea';
@import '../components/PokemonStats/PokemonStats';
@import '../components/GameStats/GameStats';
@import '../components/PokemonImage/PokemonImage';
@import '../components/GameStart/GameStart';
@import '../components/GameEnd/GameEnd';
@import '../components/GamePlay/GamePlay';

// pages
@import '../pages/Page1/Page1';
@import '../pages/Page2/Page2';
@import '../pages/PageNotFound/PageNotFound';
@import '../pages/Landing/Landing';
@import '../pages/StyleGuide/StyleGuide';
@import '../pages/AspectRatio/AspectRatio';
@import '../pages/Game/Game';
