.GamePlay {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .container {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: purple;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 7% 70% 1fr;
    .end-screen {
      width: 100%;
      height: 100%;
      grid-row: 1 / -1;
      grid-column: 1 / -1;
      z-index: 200;
    }
    .background-image {
      width: 100%;
      height: 100%;
      grid-row: 1 / -1;
      grid-column: 1 / -1;
    }
    .game-stats {
      grid-row: 2;
      grid-column: 2;
    }
    .interface {
      grid-row: 3;
      grid-column: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: green;
      button {
        width: 90%;
        margin-top: 3px;
      }
    }
    > .player-pokemon-image {
      grid-row: 2/ 3;
      grid-column: 1;
    }
    .player-name {
      grid-row: 1;
      grid-column: 1;
      align-self: center;
      margin-left: 3%;
    }
    .player-pokemon-stats {
      grid-row: 3;
      grid-column: 1;
      width: 100%;
      height: 100%;
    }
    > .opponent-pokemon-image {
      grid-row: 2 / 3;
      grid-column: 3;
    }
    .opponent-name {
      grid-row: 1;
      grid-column: 3;
      justify-self: flex-end;
      align-self: center;
      margin-right: 3%;
    }
    .opponent-pokemon-stats {
      grid-row: 3;
      grid-column: 3;
      width: 100%;
      height: 100%;
    }
  }
}
