// using bem naming convention "block, element, modifier"
// block__element--modifier

// box-sizing changes it to the border is included in the height.
* {
  box-sizing: border-box;
}
html {
  // allows for rems to match pixel by power of 10.
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
  background-color: $pb-grey;
  font-size: 1.6rem;
  // line-height: 1.6;
  font-family: $primary-ff;
}

button {
  font-family: $primary-ff;
  font-size: 1.6rem;
  // line-height: 1.6;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

div {
  // so cursor over font won't turn to text selector
  cursor: default;
}

h1 {
  font-size: $fs-1;
}
h2 {
  font-size: $fs-2;
}
h3 {
  font-size: $fs-3;
}
h4 {
  font-size: $fs-4;
}

.active {
  color: $logo-yellow;
}

:focus {
  outline: $logo-yellow solid 4px;
  outline-offset: -4px;
}
