// using bem naming convention "block, element, modifier"
// block__element--modifier

// box-sizing changes it to the border is included in the height.
* {
  box-sizing: border-box;
}
html {
  // allows for rems to match pixel by power of 10.
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
  background-color: $pb-grey;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
