.btn {
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
}

.btn-action {
  @extend .btn;
  background-color: $logo-yellow;
  border-color: red;
}

.btn-primary {
  @extend .btn;
  background-color: $pb-white;
  border-color: $outline-black;
}

.btn-secondary {
  @extend .btn;
  background-color: $pb-red;
  border-color: $outline-black;
}

// Route Trasition animations.
.slide-enter,
.slide-exit {
  transition: transform 600ms ease-out, opacity 400ms ease-out;
  overflow: hidden;
}

.slide-enter {
  transform: translateX(100%);
  opacity: 0;
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
  opacity: 1;
}

.slide-exit {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  transform: translateX(0%);
  opacity: 1;
}

.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0;
}

.transitionGroup {
  overflow-x: hidden;
}
