.btn {
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
}

.btn-action {
  @extend .btn;
  background-color: $logo-yellow;
  border-color: red;
}

.btn-primary {
  @extend .btn;
  background-color: $pb-white;
  border-color: $outline-black;
}

.btn-secondary {
  @extend .btn;
  background-color: $pb-red;
  border-color: $outline-black;
}
