// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

// Font family
$primary-ff: 'Francois One', sans-serif;

// colors
$logo-yellow: #fcca07;
$logo-blue: #3f5ca7;
$grass-green: #8eab75;
$sky-blue: #95c7f8;
$pb-red: #f93d32;
$pb-white: #ffffff;
$pb-grey: #575759;
$outline-black: #1d1d1d;

// font size
$fs-1: 3.2rem;
$fs-2: 2.2rem;
$fs-3: 1.8rem;
$fs-4: 1.4rem;

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;
